*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGxhaW4lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
h1{
    text-align: center;
    color: brown;
    font-size: 3rem;
    margin-bottom: 4%;
    margin-top: 2%;
}
.description{
    width: 30%;
    font-size: 2rem;
    background-color: grey;
    float: left;
    height: 550px;
    padding: 2rem;
    border-radius: 10px;
    margin-left: 5%;
    color: white;
    line-height: 1.5;
}
.entry{
    width: 50%;
    background-color: white;
    height: 550px;
    border-radius: 10px;
    padding: 2rem;
    float: right;
    margin-right: 5%;
}
